.row {
    margin-left: unset;
    margin-right: unset;
}

.home-card-layout  {
    margin-bottom: 4.5%;
}

.card {
    height: 300px !important;
}

.card img {
    display: block;
    margin: auto;
    height: 100%;
}

.cardContent {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}


.customCenterContent {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.customCenterContent h2 {
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 60px 10px;
    border: 1px solid white;
}


.btn.btn-danger {
    position: absolute;
    top: 11px;
    right: 3%;
    padding: 0px 7px;
    border-radius: 9px;
    color: wheat;
    font-weight: bolder;
}