.col-xl-1.col{
    padding: 10px;
    border: 1px solid #cacaca;
    margin: 9px 0px 9px 21px;
    text-align: center;
    width: 150px;
background-color: #f7f5e9;
}

.menu-upper-icon {
     height: 57px;
     width: 57px;
     margin: auto;
}

.menu-upper-icon img {
    display: block;
    margin: auto;
     width: 100%;
}

.menu-bottom-title {
    text-align: center;
}